<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.github.mrgrtt.taohub">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:name=".TaoApplication"
        android:allowBackup="true"
        android:icon="@mipmap/cart_l"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/cart_l"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.HistoryActivity"></activity>
        <activity android:name=".activity.DetailActivity" />
        <activity
            android:name=".activity.HomeActivity"/>
        <activity android:name=".activity.RegisterActivity" />
        <activity android:name=".activity.LoginActivity" />
        <activity android:name=".activity.MainActivity"
            android:theme="@style/flash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>